<%- include('../partials/header', {title: 'Add new comment', styles: ["/css/main.css"]}) -%>
<section class="main">
    <div class="ui container">
        <a href="/restaurants/<%= restaurant._id %>" class="go-back">
            <i class="hand point left icon"></i>
            Go back
        </a>
    </div>
    <div class="form-container">
        <div class="ui stackable centered grid">
            <div class="six wide column">
                <h2 class="ui header">
                    <div class="content">
                        Add new comment to
                        <%= restaurant.title %>
                    </div>
                </h2>
                <div class="ui raised very padded inverted segment">
                    <form class="ui large form" action="/restaurants/<%= restaurant._id %>/comments" method="POST">
                        <div class="ui raised segment">
                            <div class="field">
                                <label>Content</label>
                                <input type="text" name="comment[content]" placeholder="Content">
                            </div>
                            <button class="ui fluid large blue submit button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer') -%>